* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* background image (banner) */
.header {
    min-height: 100vh;
    /* "100vh", which means it occupies the entirety of the viewport */
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: fleX;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    left: 1000px;
}

/* meanu fonts */
.nav-links ul li a {
    color: #246d17;
    text-decoration: none;
    font-size: 13px;
}

/* hover effect of nav tabs */
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}